  <h2><%= @patient.first_name %> <%= @patient.last_name %>さんの会員詳細</h2><br>
    <!--  検索拡張機能  -->
    <p>検索</p>
    <%= form_tag(search_path,:method => 'get') do %>
      <%= text_field_tag :search %>
      <%= submit_tag 'Search', :name => nil %>
    <% end %>
    <ul><% @patients.each do |patient| %>
      <li>
        <%= link_to patient.title, patient %>
        <%= patient.created_at %>
        <%= patient.status %>
      </li>
      <%= link_to "編集",edit_patient_path(patient) %>
      <%= link_to "削除",patient, method: :delete %>
    <% end %>
    </ul>
    
      <table class="table table-hover table-inverse">
				<h2>登録情報         <%= link_to "編集する", edit_patient_path(@patient.id), class: "btn btn-success" %></h2>
			   <tr><th>氏名</th><td><%= @patient.first_name %> <%= @patient.last_name %></td></tr>
			　 <tr><th>カナ</th><td><%= @patient.first_name_kana %> <%= @patient.last_name_kana %></td></tr>
			　 <tr><th>性別</th><td><%= @patient.gender %></td></tr>
			　 <tr><th>生年月日</th><td><%= @patient.birthday %></td></tr>
			　 <tr><th>メールアドレス</th><td><%= @patient.email %></td></tr>
			　 <tr><th>郵便番号</th><td><%= @patient.postal_code %></td></tr>
			　 <tr><th>都道府県</th><td><%= @patient.prefecture_code %></td></tr>
			　 <tr><th>市区町村</th><td><%= @patient.address_city %></td></tr>
			　 <tr><th>番地</th><td><%= @patient.address_street %></td></tr>
			　 <tr><th>建物</th><td><%= @patient.address_building %></td></tr>
			　 <tr><th>電話番号(ハイフンなし)</th><td><%= @patient.telephone_number %></td></tr>
			　 <tr><th>お困りの症状</th><td><%= @patient.disease %></td></tr>
			</table><br>

  <%= link_to "編集する", edit_admin_patient_path(@patient), class: "btn btn-success" %>

</table>
