<%= flash[:notice] %>
      <div class="container">
          <div class="row">
              <div class="col-md-1"></div>
                  <p></p>
                  <h1><strong><医師一覧></strong></h1>
              </div>
          </div>
      </div>
  <br>
    <div class="container text-center">
        <div class="row">
					<section class="inner">
					  <% if flash[:notice] %>
					    <p class="text-active"><%= flash[:notice] %></p>
					  <% end %>
					</div>
					<table class="table table-hover table-inverse">
						<h2>登録情報         <%= link_to "編集する", edit_admin_path(@admin.id), class: "btn btn-success" %></h2>
					　 <tr><th>名前</th><td><%= @admin.email %></td></tr>
					　 <tr><th>自己紹介</th><td><%= @admin.introduction %></td></tr>
					　 <tr><th>メールアドレス</th><td><%= @admin.email %></td></tr>
					</table><br>
				</div>
			</div>

      <!--<%# @books.each do |book| %>-->
      <!--  <tr>-->
      <!--  <td><%#= book.title %></td>-->
      <!--  <td><%#= book.body %></td>-->
      <!--  <td><%#= link_to "Show", book_path(book.id) %></td>-->
      <!--  <td><%#= link_to "Edit", edit_book_path(book.id) %></td>-->
      <!--  <td><%#= link_to "Destroy", book_path(book.id),method: :delete,"data-confirm" => "Are you sure?" %></td>-->
      <!--  </tr>-->
      <!--<%# end %>-->